<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for("static",
    filename="assets/Icon.svg") }}" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{ url_for("static", filename="assets/Icon.svg") }}"
        alt="logo" />
        <label>FliSP</label>
      </div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <a href="{{ url_for("simple_pages.index") }}" class="nav_link">Home</a>
          </li>
          <li>
            <a href="{{ url_for("blogs.blogpage") }}" class="nav_link">Blog</a>
          </li>
          <li>
            <a href="{{ url_for("simple_pages.joinpage") }}" class="nav_link">Join</a>
          </li>
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <script src="{{ url_for("static",
    filename="javascript/main.js") }}"></script>
  </body>
</html>
